<launch>
  <arg name="frame_stop" default="150"/>
  <arg name="ro_path" default="$(find reachable_occupancy)"/>
  <arg name="mvmt_csv" default="$(arg ro_path)/src/tests/simple_skeleton_mvmt.csv"/>
  <param name="csv_path" type="str" value="$(arg mvmt_csv)"/>
  <param name="frame_stop" type="int" value="$(arg frame_stop)"/>


  <!-- node pkg="reachable_occupancy" type="skeleton_publisher.py" name="demo_point_publisher" output="screen"/-->
  <!-- node pkg="reachable_occupancy" type="reach_test" name="occupancy_test" required="true" output="screen"/-->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg ro_path)/rviz/ro_rl_demo.rviz" required="true"/>
  <node pkg="reachable_occupancy" type="demo_publisher" name="cpp_only_demo" required="false" output="screen"/>
  <!-- include file="$(find udp_com)/launch/udp_com.launch"/-->
  <!--node pkg="reachable_occupancy" type="udp_receiver" name="udp_receiver" required="false" output="screen"/-->
</launch>